$grey: rgb(189 189 189 / 34.2%);
.el-input__icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 25px !important;
  height: inherit !important;
  transition: all var(--el-transition-duration) !important;
}
.el-input__inner:focus {
  border-color: var(--main-color) !important;
  outline: 0;
}
.el-menu-item:hover {
  background-color: var(--light-main-color) !important;
}
.aside {
  /* 侧边栏 */
  background-color: var(--quote-background-color);
  .logo {
    /* 左上角logo处的颜色 */
    background-color: var(--quote-background-color);
    h1 {
      /* 标题的颜色 */
      color: var(--main-color);
      transition: all 0.3s;
      &:hover {
        color: #f7f7f7;
      }
    }
  }

  .el-scrollbar__thumb {
    /* 菜单的滚动条 */
    background-color: var(--main-color);
  }
}
.header {
  /* 头部 */
  background-color: var(--quote-background-color);
  .header-icon {
    color: var(--main-color);
    svg,
    path,
    use {
      color: var(--main-color);
      fill: var(--main-color);
    }
  }
  .hover {
    border-radius: 4px;
    transition: all 0.3s;
    &:hover {
      background-color: var(--background-color);
    }
  }
}
.main {
  /* el-main的背景色 */
  // background-image: linear-gradient(-180deg, #ebebeb 0%, #dcdddf 48%, #c4c5c7 99%);
}
.footer {
  color: #8f9092;

  /* 底部的颜色 */
  // background-color: #c4c5c7;
}
button {
  color: var(--main-contrast-color) !important;
  background-color: var(--main-color) !important;
  transition: background-color 0.3s, border-color 0.3s !important;
  &:hover {
    color: var(--light-main-contrast-color) !important;
    background-color: var(--light-main-color) !important;
  }
}
