@import 'nprogress/nprogress.css';
@import 'element-plus/theme-chalk/index.css';
@import 'ant-design-vue/dist/antd.css';
.el-input__icon {
  width: 25px !important;
  height: inherit !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: all var(--el-transition-duration) !important;
}
.el-input__inner:focus {
  outline: 0;
  border-color: #e9be4a !important;
}
.aside {
  background-color: #545c64;
}
.aside .logo {
  background-color: #545c64;
}
.aside .logo h1 {
  color: #e9be4a;
  transition: all 0.3s;
}
.aside .logo h1:hover {
  color: #f7f7f7;
}
.aside .el-scrollbar__thumb {
  background-color: #e9be4a;
}
.header {
  background-color: #545c64;
}
.header .header-icon {
  color: #e9be4a;
}
.header .header-icon .use {
  fill: red;
}
.header .hover {
  border-radius: 4px;
  transition: all 0.3s;
}
.header .hover:hover {
  background-color: rgba(189, 189, 189, 0.342);
}
.main {
  background-image: linear-gradient(-180deg, #ebebeb 0%, #dcdddf 48%, #c4c5c7 99%);
}
.footer {
  background-color: #c4c5c7;
  color: #8f9092;
}
a {
  text-decoration: none;
}
html body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #ebedf1;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
}
